@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;&display=swap');

@-webkit-keyframes details {
    from {
      text-shadow: 0 0 10px #ffd415, 0 0 20px #ffd51a, 0 0 30px #b797a7, 0 0 40px #600030, 0 0 50px #361525, 0 0 60px #3b1f2d, 0 0 70px #411b2e;
    }
    
    to {
      text-shadow: 0 0 20px #939536, 0 0 30px #d5323b, 0 0 40px #cdbb38, 0 0 50px #472536, 0 0 60px #74676e, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

@media screen and (max-width: 4000px) {
    .main .illustration{
        visibility: hidden;
    }
}

@media screen and (max-width: 1392px) {
    .main .illustration{
        visibility: hidden;
    }

    .phoneInner{
        width: 320px !important;
    }
    form{
        width: 95% !important;
    }

    footer{
        display: grid;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons footerItems '
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }
    footer .socialMediaIcons{
     
   
        grid-area: socialMediaIcons;
        width: 100% !important;
    }
    .footerItems{
        grid-area: footerItems;
     
    }
}
 

@media screen and (max-width: 1280px){
    .main .illustration{
        visibility: hidden;
    }
   
    footer{
        display: grid;
      
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons footerItems '
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }
    footer .socialMediaIcons{
    
 
        
        grid-area: socialMediaIcons;
      
    }
    footer .footerItems{
        grid-area: footerItems;
        margin-top: 10px;
       
       
     
  
    }

    footer .copyrightDiv{
        grid-area: copyrightDiv;
    }

   


}

@media screen and (max-width: 1115px){
    .main .illustration{
        visibility: hidden;
    }
 
    footer{
        display: grid;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons SocialMediaIcons footerItems '
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }
    footer .socialMediaIcons{
      
  
        grid-area: socialMediaIcons;
    
    }
    footer .footerItems{
        grid-area: footerItems;
        margin-top: 10px !important;
     
    }


   


}
@media screen and (max-width: 1100px){
    .main .illustration{
        visibility: hidden;
    }
    .phoneInner{
        width: 320px !important;
        margin-right: 50px;
    }
    form{
        width: 95%;
    }
    footer{
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons  socialMediaIcons socialMediaIcons footerItems '
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }
    footer .socialMediaIcons{
   
       
        grid-area: socialMediaIcons;
    }
    footer .footerItems{
        grid-area: footerItems;
        margin-top: 10px !important;
    }
 
}
@media screen and (max-width: 1050px){
    .main .illustration{
        visibility: hidden;
    }

    .phoneInner{
        width: 320px !important;
        margin-right: 50px;
    }
    form{
        width: 95%;
    }
    footer{
        display: grid !important;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons footerItems'
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }
    
    
    
    
    footer .socialMediaIcons{
        
        border: none !important;
        grid-area: socialMediaIcons !important;
       
   
    }
  
    footer .footerItems{
        grid-area: footerItems !important;
        margin-top: 10px !important;
     
       
    }
    footer .copyrightDiv{
        grid-area: copyrightDiv !important;
       width: 100%;
    }
  

}
@media screen and (max-width: 1024px) {
    .main .illustration{
        visibility: hidden;
    }

    .main{
        display: grid !important;
        border: none !important;
    
    
    }
    .details{
        border: none !important;
    
    }
    .details h1{
        margin-left: 50px !important;
        width: 1000px !important;
    }
    .details p{
        margin-left: 40px !important;
        width: 776px !important;
    }
    
    .phoneInner{
        width: 320px !important;
        margin-left: 260px !important;
    }
    form{
        width: 95% !important;
    }
    header{
        grid-template-areas: ' headerh1 headerh1 headerh1 headerh1 headerh1 headerButton' !important;
    }
    header h1{
        grid-area: headerh1;
        margin: 0px !important;
        visibility: visible;
    }
    header h1 i{
       visibility: visible !important;
       margin-left: 50px !important;
    }

    .headerButton{
        grid-area: headerButton !important;
    } 
    
    footer{
        display: grid !important;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons footerItems'
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }
  
    
    
    footer .socialMediaIcons{
        
        border: none !important;
        grid-area: socialMediaIcons !important;
  
    }
        
   
    footer .footerItems{
        grid-area: footerItems !important;
     
        margin-top: 10px;
    }
    footer .copyrightDiv{
        grid-area: copyrightDiv !important;
        width: 100% !important;
    }
  
  
   
    
}
@media screen and (max-width: 816px){
    .main .illustration{
        visibility: hidden;
    }
    .details p{
        margin-left: 40px !important;
        width: 650px !important;
    }
    footer{
        display: grid !important;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons footerItems'
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }
    
    
    
    
    footer .socialMediaIcons{
        
        border: none !important;
        grid-area: socialMediaIcons !important;
        
    }
   
    footer .footerItems{
        grid-area: footerItems !important;
        
        margin-top: 10px;
    }
    footer .copyrightDiv{
        grid-area: copyrightDiv !important;
        width: 100% !important;
    }
 
}
@media screen and (max-width: 786px) {
    .main .illustration{
        width: 300px; margin-top: 920px;
        visibility: visible;
    }
   
    .currencyFormMain{
        width: 95%;
    }
    footer{
        display: grid !important;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons footerItems'
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }
    
    


    .phoneInner{
        margin-left: 180px !important;
    }
    .details p{
        margin-left: 40px !important;
        width: 680px !important;
    }
    header{
        grid-template-areas: ' headerh1 headerh1 headerh1 headerh1 headerh1 headerButton' !important;
    }
    header h1{
        grid-area: headerh1;
       
        visibility: visible;
    }
    header h1 i{
       visibility: visible !important;
      
    }

    .headerButton{
        grid-area: headerButton !important;
    
      
    
        
    }
    .headerButton button{
         
      
        padding: 20px !important;
    }
 


    footer{
        display: grid !important;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons'
        'footerItems footerItems footerItems footerItems footerItems footerItems'
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    
    
    }
    
    
    
    
    footer .socialMediaIcons{
        
      
        grid-area: socialMediaIcons !important;
      
    
    }
    footer .socialMediaIcons i{
        margin-left: 0px !important;
    }
    footer .socialMediaIcons a{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }
    
    footer .footerItems{
     
        grid-area: footerItems !important;
     
    
    
    }

    .footerItems ul {
        display: flex;
    }
    footer .footerItems h2{
        margin-left: 140px !important;
        margin-top: 10px !important;
      
    }
    
    footer .footerItems ul{
        margin-top: 10px !important;
    }
  
    footer .footerItems ul li i{
        margin-top: 0px !important;
    }
    footer .copyrightDiv{
        grid-area: copyrightDiv !important;
       width: 100% !important;
    }
    
    footer .socialMediaIcons h3{
      
        margin-top: 20px;
    }
    footer .socialMediaIcons a{
        margin-top: 40px !important;
    }
   
}
@media screen and (max-width: 766px) {
    .main .illustration{
        width: 300px !important;
         margin-top: 870px !important;
    }
    
}
@media screen and (max-width: 698px) {
    .main .illustration{
        width: 300px !important;
         margin-top: 950px !important;
    }
   
    .phoneInner{
        margin-left: 120px !important;
    }
    .details p{
        margin-left: 40px !important;
        width: 530px !important;
    }
    header{
        grid-template-areas: ' headerh1 headerh1 headerh1 headerh1 headerh1 headerButton' !important;
    }
    header h1{
        grid-area: headerh1;
        margin: 0px !important;
        visibility: visible;
    }
    header h1 i{
       visibility: visible !important;
    }

    .headerButton{
        grid-area: headerButton !important;
        
       display: none;
    
        
    }
    .headerButton button{
         
      
        padding: 11px !important;
    }
 

 footer{
    display: grid !important;
    grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons'
    'footerItems footerItems footerItems footerItems footerItems footerItems'
    'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;

   
}




footer .socialMediaIcons{


    grid-area: socialMediaIcons !important;
    margin-left: 20px !important;


}

footer .socialMediaIcons a{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}

footer .footerItems{
 
    grid-area: footerItems !important;
 


}

.footerItems ul {
    display: grid;

    margin-left: 45px;
}
footer .footerItems h2{
    margin-left: 40px !important;
    margin-top: 20px !important;
  
}

footer .footerItems ul{
    margin-top: 10px !important;
}

footer .footerItems ul li i{
    margin-top: 0px !important;
}
footer .copyrightDiv{
    grid-area: copyrightDiv !important;
   width: 100% !important;
}

footer .socialMediaIcons h3{
    margin-left: 13px !important;
    margin-top: 50px !important;
}
footer .socialMediaIcons a{
    margin-top: 40px !important;
    justify-content: center;
}
}


@media screen and (max-width: 576px) {

    .main .illustration{
        width: 220px !important;
         margin-top: 1070px !important;
    }
    .details{
        margin-left: 30px !important;
    }
    .details h1{
        margin-left: 2px !important;
        width: 385px !important;
    }
    .details p{
        margin-left: 2px !important;
        width: 365px !important;
    }
    .phoneInner{
        width: 320px !important;
        margin-left: 70px !important; 
    }
    form{
        width: 95% !important;
        
        }
       
    header{
        grid-template-areas: ' headerh1 headerh1 headerh1 headerh1 headerh1 headerButton' !important;
    }
    header h1{
        grid-area: headerh1;
        margin-left: 0px !important;
        visibility: visible;
    }
    header h1 i{
       visibility: visible !important;
       margin-left: 0px !important;
    }

    .headerButton{
        display: none;
     
    
     
    }
   
    footer{
        display: grid !important;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons'
        'footerItems footerItems footerItems footerItems footerItems footerItems'
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }




   
.footerItems ul {
    display: grid;

    margin-left: 45px;
}
footer .footerItems h2{
    margin-left: 40px !important;
    margin-top: 20px !important;
  
}

footer .footerItems ul{
    margin-top: 10px !important;
}

footer .footerItems ul li i{
    margin-top: 0px !important;
}
footer .copyrightDiv{
    grid-area: copyrightDiv !important;
   width: 100% !important;
}

footer .socialMediaIcons h3{
    margin-left: 13px !important;
    margin-top: 50px !important;
}
footer .socialMediaIcons a{
    margin-top: 40px !important;
    justify-content: center;
}   

   
}
@media screen and (max-width: 400px) {
    .main .illustration{
        visibility: hidden;
    }
    header{
        grid-template-areas: ' headerh1 headerh1 headerh1 headerh1 headerh1 headerh1' !important;
    }
    header h1{
        grid-area: headerh1;
        margin-left: 0px !important;
     
    }
    header h1 i{
       visibility: visible !important;
       
        margin-left: 0px !important;
   
    }

    .headerButton{
     
        display: none;
      
       
        
    }
    

    .details{
        margin-left: 10px !important;
    }
    .details h1{
        margin-left: 2px !important;
        width: 370px !important;
    }
    .details p{
        margin-left: 2px !important;
        width: 370px !important;
    }
    .phoneInner{
        width: 320px !important;
        margin-left: 13px !important; 
    }
    form{
        width: 95% !important;
        
        }
    .phone{
        margin-left: 0px !important; 
    }

    footer{
        display: grid !important;
        grid-template-areas: 'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons'
        'footerItems footerItems footerItems footerItems footerItems footerItems'
        'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv' !important;
    }




 
.footerItems ul {
    display: grid;

    margin-left: 40px;
}
footer .footerItems h2{
    margin-left: 20px !important;
    margin-top: 20px !important;
  
}

footer .footerItems{
    grid-area: footerItems;
    margin-left: 0px !important;
}

footer .footerItems ul{
    margin-top: 10px !important;
    margin-left: 20px !important;
}

footer .footerItems ul li i{
    margin-top: 0px !important;
}
footer .copyrightDiv{
    grid-area: copyrightDiv !important;
   width: 100% !important;
}

footer .socialMediaIcons h3{
    margin-left: 13px !important;
    margin-top: 50px !important;
}
footer .socialMediaIcons a{
    margin-top: 40px !important;
    justify-content: center;
}

footer .socialMediaIcons i{
    margin-left: 0px !important;
}

footer .socialMediaIcons{
    margin-left: 0px !important;
    grid-area: socialMediaIcons;
}
}


body{
 
    background-color: #243F4D;
    font-family: cursive;
    scroll-behavior: smooth;
}


header{
  
    display: grid;
    grid-template-areas: 'headerh1 headerh1 headerh1 headerh1 headerh1 headerButton';
    background-color: #243F4D;
    width: 100%;
    padding: 14px;

   

}

header h1{
   font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
      justify-content: center;
      grid-area: headerh1;
    
      margin-left: 100px;
      
 
    
     border-radius: 22px;
    
      padding: 10px;

     
      font-weight: bolder;
  
}
header h1 i{
    animation: details 1s ease-in-out infinite alternate;
}
 
.headerButton{
grid-area: headerButton;
}
.headerButton Button{
   padding: 20px;
    margin-left: 150px;
  
}



.main{
   display: flex;   
   background: linear-gradient(-45deg, #3b2119, #901e4a, #406979, #478f7e);
   /*background: url('PhoneBack.jpg');*/
   scroll-behavior: smooth;
	
   
}
.details{

    width: 60%;
   
    text-align: justify;

    /*border: 2px solid rgb(0, 0, 0);*/
}
.details h1{
 /* background: #ff8100; */
 
 border-radius: 27px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 44px;
  padding: 5px;
  width: 100%;
  margin-left: 120px;
  margin-top: 50px;

}

.details p{
    margin-left: 120px;
    margin-top: 40px;
   color: white;
   font-size:18px;
   
}

@media screen and (max-width: 767px) {

    .details h1{
        /* background: #ff8100; */
        
        border-radius: 27px;
         color: rgb(255, 255, 255);
         font-weight: bold;
         font-family: 'Courier New', Courier, monospace;
         font-size: 32px;
         padding: 5px;
         width: 100%;
         margin-left: 120px;
         margin-top: 50px;
       
       }

    .details p{
        margin-left: 120px;
        margin-top: 40px;
       color: white;
       font-size:14px;
       margin-bottom: 1.5em;
    }

    .phone{

        width: 50%;
        height: 600px;  
      
    }
}

.phone{

    width: 50%;
    height: 600px;  

  
}






.phoneInner{
     /*background: url("./PhoneBack.jpg");*/
     background-color:  #2e3a3f;
     
    margin: 10px;
    margin-left: 180px;
    width: 320px;
    height: 550px;
    border: 1px solid #2e3a3f;
    border-radius: 22px;
    
    
}
.phoneInnerTopCard{
    /*background-color:#004f51;
    border: 1px solid #004f51 #354750*/
    background-color:  #2e3a3f;
  
    opacity: 1;
    padding: 25px;
    border-radius: 25px; 
    display: flex;
  

}


.date{
    color: white;   
}

.currencyFormMain{
    margin-top: 1px;
    align-items: center;    
    background-color: #243F4D;
    margin-left: 8px;
    padding: 9px;
    padding-top: 15px;
    padding-bottom: 55px;
    width: 95%;
    border: 1px solid white;
    border-radius: 59px;
   transition: 0.10s;
   opacity: 1;
   color: white;
   background: #243F4D;
   box-shadow:  9px 9px 17px #182a34,
                -9px -9px 17px #305466;

   
   
}

footer{
    width: 100%;
    background-color: #243F4D;
    display: grid;
    grid-template-areas: 
    'socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons socialMediaIcons footerItems'
    'copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv copyrightDiv  ';

    padding: 40px;
 
}
.footerItems{
  
    grid-area:footerItems;
 
    color: white;
   
   
}
.footerItems ul li{
  
    list-style-type: none;
    padding: 5px;
    
}
footer p{
   
    color: white;
    margin-top: 10px;
  
   
}
.footer-links:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.socialMediaIcons{
    margin-left: 20px;
    grid-area:socialMediaIcons;
    padding: 10px;
 
  
}
.socialMediaIcons i{    
margin-left: 33px;
font-size: 28px;


}

.socialMediaIcons h3{
    margin-top: 32px;
}


.socialMediaIcons i:hover{
    cursor: pointer;
}

.copyrightDiv{
    grid-area: copyrightDiv;
}

